<!-- templates/arrivals.html -->
<html>  
  <head>
      <link rel=stylesheet type=text/css href="../static/css/flightboard.css">
    <title>DEPARTURES</title>
  </head>
  <body>
<table>
    <thead>
    <tr>
        <th>Flight</th>
        <th>To</th>
        <th>Company</th>
        <th>Flight Status</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


 </body>
</html>


